<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="https://www.thymeleaf.org"
>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <head>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
      crossorigin="anonymous"
    ></script>

    <title>Products Page</title>
    <script th:replace="fragments/fragmentHeader :: headerBootstrapCss"></script>
  </head>
  <body>
  <script th:replace="fragments/fragmentHeader :: header"></script>
  <script th:replace="fragments/fragmentHeader :: headerBootstrapJs"></script>
    <div class="container">
      <h2>Products</h2>
      <div th:each="product:${allProducts}">
<!--        <div th:text="${product.name}"></div>-->
        <a th:href="@{/products/{productId}(productId=${product.id})}" th:text="${product.name}"></a>
      </div>

      <!-- <table>
        <tr th:each="product: ${allProducts}"></tr>
        <td th:if="${product != null} th:text="${product.id}" />
        <td th:if="${product != null} th:text="${product.name}" />

    </tr>
      </table> -->
    </div>
  </body>
</html>
