<!DOCTYPE html>
   <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
   <head>
<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>
<script type="text/javascript">
  $(function () {
    $("#createAccount").click(function () {
      window.location.href = "/register";
    });
  });
</script>
   </head>
   <body>
   <h1>Please Log In, user!</h1>
   <div th:if="${param.error}">
       Invalid username and password.</div>
   <div th:if="${param.logout}">
       You have been logged out.</div>

   <form th:action="@{/login}" method="post">
       <!--<form action="" method="post">-->
       <!--    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
       <div>
           <input type="text" name="username" placeholder="Username"/>
       </div>
       <div>
           <input type="password" name="password" placeholder="Password"/>
       </div>
       <input type="submit" value="Log in" />
       <button type="button" id="createAccount"> Create Account </button>
   </form>
   </body>
   </html>